.trend_card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 130px;
}

.trend_card img {
    width: 130px;
    height: 180px;
}

.trend_card p {
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: .8rem;
    -webkit-box-orient: vertical;
}
