@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --primary-color: #d44d5c;
  --color-pri: #d44d5c;
  --secondary-color: #773344;
  --text-pri: #773344;
  --background-color: #0b0014;
  --background-secondary-color: #355065;
  --text-color: #f5e9e2;
  --error-color: red;
  --background-color-transparent: #ffffff0f;
  --color-transparent-secondary: #262c36c2;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Montserrat',
    sans-serif;
  ;
}
